body{
    background-color: #B4CDED;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
    padding: 0;
    
}

#image1{
    width: 100%;
    height: 80%;
}
#accueil_title{
    text-align: center;
}

#operation_refu{
    margin-bottom: 0%;
    padding-top: 1%;
}
#operation_auto{
    margin-bottom: 0%;
    padding-top: 0%;
}
#idUser1{
    background-color: rgb(35, 228, 35);
}
#idUser2{
    background-color: rgb(250, 82, 82);
}
.listeTransaction{
    display: flex;
    flex-direction: column;
}

.transactionDate{
    height: 30px;
}

.transactionInfos{
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.transactionID{
    margin-left: 20%;
    margin-right: 50%;
}
#transactions{
    display: flex;
    border: 2px solid black;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
    justify-content: space-around;
}


body{
    background-color: #B4CDED;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
    padding: 0;

    
}

#accueil_title{
    text-align: center;
}

.TableUsers {
    /* Positionnement de l'en-tête */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 15px 10px;
    
}