body{
    background-color: #B4CDED;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
    padding: 0;
    
}
#accueil_title{
    text-align: center;
}
.TableUsers{
    display: flex;
    justify-content: space-around;
}
#search_bar{
    display: flex;
    justify-content: center;

}
#input_search_name{
    padding-right: 25%;
    padding-bottom: 1%;
    padding-top: 1%;
}
.users{
    display: flex;
    justify-content: space-around;
}
#operation_auto{
    margin-bottom: 0%;
    padding-top: 0%;
}
#idUser1{
    background-color: rgb(35, 228, 35);
}
#idUser2{
    background-color: rgb(250, 82, 82);
}