.listeTransaction{
    display: flex;
    flex-direction: column;
}

.transactionDate{
    height: 30px;
}

.transactionInfos{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 75px;

}

body{
    background-color: #B4CDED;
    background-attachment: fixed;
    background-size: 100%;
    margin: 0;
    padding: 0;
    
}
#virements_body{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}
#virement,#retirer,#deposer{
    border: 2px solid black;
    border-radius: 30px;
    padding-left: 2%;
    padding-right: 2%;

}
.soldeCompte{
    display: flex;
    justify-content: center;
    font-size: 80px;
}
#compte{
    border: 2px solid black;
    border-radius: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 10%;

}
#deposite{
    margin: 0;
    color: green;
    text-align: center;
}
#virementOnClick,#retirerOnClick,#deposerOnClick{
    border: 2px solid black;
    background-color: white;
    border-radius: 30px;
    padding-left: 2%;
    padding-right: 2%;

}
#accueil_title{
    text-align: center;
}

#accueil_body2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#body2_title{
    text-align: center;
}
#accueil_body3{
    display: flex;
}
#body3_1{
    text-align: center;
    display: flex;
    flex: 1;
}
#body3_2{
    text-align: center;
    display: flex;
    flex: 1;
}